<div>
  <a href="#" data-component="offcanvas" data-target="#offcanvas-right" data-direction="right" data-push="false" data-click-outside="false">
    <i class="fas fa-search"></i>
</a>

</div>

<div id="offcanvas-right" class="hide">
    <a href="#" id="close-search" class="close"></a>
    <br/>
    <form class="form">
      <div class="form-item" >
        <div class="append">
          <input id="search" name="q" type="text" class="is-search" autofocus/> 
          <button>Search</button>
        </div>
      </div>
    </form>
    <nav>
      <div id="results"></div>
    </nav>
</div>


  
<script src="https://unpkg.com/lunr/lunr.js"></script>
<!-- Generate a list of posts so we can display them -->
{{ $p := slice }}
{{ range (where .Site.RegularPages "Section" "==" "resources") }}
  {{ $post := dict "link" .RelPermalink "title" .Title "description" .Description "url" .Params.link }}
  {{ $p = $p | append $post -}}
{{ end }}
<script>
  const posts = JSON.parse({{ $p | jsonify }});
  const query = new URLSearchParams(window.location.search);
  const searchString = query.get('q');
  document.querySelector('#search').value = searchString;
  const $target = document.querySelector('#results');
  const $searchbar = document.querySelector('#offcanvas-right');
  // Our index uses title as a reference
  const postsByTitle = posts.reduce((acc, curr) => {
    acc[curr.title] = curr;
    return acc;
  }, {});
  function getPathFromUrl() {
    var url = window.location.href; 

    if(url.indexOf("?") != -1)
      url = url.split("?")[0];

    return url;
  }
  $("#close-search").click(function(){
    window.location.href = getPathFromUrl();
});
  fetch('/skillupathome/search-index.json').then(function (res) {
    return res.json();
  }).then(function (data) {
    const index = lunr.Index.load(data);
    const matches = index.search(searchString);
    const matchPosts = [];
    $searchbar.setAttribute("class", "offcanvas offcanvas-right open")
    matches.forEach((m) => {
      matchPosts.push(postsByTitle[m.ref]);
    });
    console.log(matchPosts)
    if (matchPosts.length > 0) {
      $target.innerHTML = matchPosts.map(p => {
        if (p == undefined) return
        return `<div>
          <h5><a href="${p.url}">${p.title}</a></h5>
          <blockquote><p>${p.description}...</p></blockquote>
          
        </div>`;
      }).join('');
    } else {
      $target.innerHTML = `<div>No search results found</div>`;
    }
  });
  </script>
